<div class="background-login">
  <div class="container">
    <div class="login">
      <h1 style="color: #6c554f;">LogIn</h1>
      <br>
      <div class="form-group">
        <label for="InputEmail">Adresa de email</label>
        <input style="width: 400px;" type="email" class="form-control" id="exampleInputEmail1"
          aria-describedby="emailHelp" placeholder="Email">
      </div>
      <div class="form-group">
        <label for="InputPassword">password</label>
        <input style="width: 400px;" type="password" class="form-control" id="exampleInputPassword1"
          placeholder="password">
      </div>
      <button type="submit" class="btn" style="color:#6c554f;font-size:larger;"><b>Creare cont</b></button>
      <button type="submit" class="btn" routerLink="/forgotpassword"
        style="color:#6c554f;font-size:larger; margin-left: 2.5cm;"><b>Schimbare
          password</b></button>
      <br>
      <br>
      <button type="submit" class="btn btn-primary">LogIn</button>
    </div>
  </div>
</div>
