<div class="background-login">
  <div class="container">
    <div class="login">
      <h1 style="color: #d4b7a4">LogIn</h1>
      <br>
      <div class="form-group">
        <label for="InputEmail" style="color:#88A795
        ">Adresa de email</label>
        <input style="width: 400px;" type="email" class="form-control" id="exampleInputEmail1"
          aria-describedby="emailHelp" placeholder="Email" [(ngModel)]="email">
      </div>
      <div class="form-group">
        <label for="InputPassword" style="color:#88A795">Parola</label>
        <input style="width: 400px;" type="password" class="form-control" id="exampleInputPassword1"
          placeholder="password" [(ngModel)]="password">
      </div>
      <button type="submit" class="btn" style="color:#97785f;font-size:larger;" routerLink="/"><b>Creare cont</b></button>
      <br>
      <button type="submit" style="margin-left:300px; margin-bottom:30px; background-color:
      #a7c4b2; border: 2px solid #a7c4b2;" class="btn btn-primary" (click)="login()">LogIn</button>
    </div>
  </div>
</div>
