<div class="background-autentification">
    <div class="autentification">
      <div class="container">
        <h1 style="color: #8c7871;">Register</h1>
        <div class="form-group">
          <label for="InputEmail1">Adresa de email</label>
          <input style="height:40px;width: 400px;" type="email" class="form-control" id="InputEmail"
            aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <div class="form-group">
          <label for="InputPassword">password</label>
          <input style="height:40px;width: 400px;" type="password" class="form-control" id="InputPassword"
            placeholder="password">
        </div>
        <div class="form-group">
          <label for="InputPassword1">Verificare password</label>
          <input style="height:40px;width: 400px;" type="password" class="form-control" id="InputPassword1"
            placeholder="password">
        </div>
        <button type="submit" class="btn" style="color:#6c554f;font-size:larger;"><b>Ai un
            cont?</b></button>
        <button type="submit" class="btn btn-primary">Conectare</button>
      </div>
    </div>
  </div>
  
